<!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container">

      <div class="section-title" data-aos="zoom-out">
        <h2>Services</h2>
        <p>What we do offer</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="icon-box" data-aos="zoom-in-left">
            <div class="icon"><i class="bi bi-1-circle-fill" style="color: #ff689b;"></i></div>
            <h4 class="title"><a href="">Private Lessons</a></h4>
            <p class="description">Time spent with a pro is the fastest way to improvement. We offer private, semi-private or private group lessons with a pro.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-5 mt-md-0">
          <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="100">
            <div class="icon"><i class="bi bi-2-circle-fill" style="color: #e9bf06;"></i></div>
            <h4 class="title"><a href="">Team Drills</a></h4>
            <p class="description">Team Drills are suitable for adults or juniors and often consist of practice games and drills that focus on the fun aspect of the game.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-5 mt-lg-0 ">
          <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="200">
            <div class="icon"><i class="bi bi-3-circle-fill" style="color: #3fcdc7;"></i></div>
            <h4 class="title"><a href="">Weekly Drills & Clinics</a></h4>
            <p class="description">Continue the development of stroke technique and strategy without a lengthy commitment. Get in maximum practice time.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-5 mt-lg-0 ">
            <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="200">
              <div class="icon"><i class="bi bi-4-circle-fill" style="color: #e9bf06;"></i></div>
              <h4 class="title"><a href="">Leagues & Match Play</a></h4>
              <p class="description">Arrange your own matches, play different opponents each week or compete against other clubs in your region.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-5 mt-lg-0 ">
            <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="200">
              <div class="icon"><i class="bi bi-5-circle-fill" style="color: #3fcdc7;"></i></div>
              <h4 class="title"><a href="">Events & Tournaments</a></h4>
              <p class="description">Find all levels of USTA-sanctioned camps, events and tournaments. Singles and doubles, both age- and level-specific.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-5 mt-lg-0 ">
            <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="200">
              <div class="icon"><i class="bi bi-6-circle-fill" style="color: #ff689b;"></i></div>
              <h4 class="title"><a href="">Member Mixers</a></h4>
              <p class="description">Show up to play without having to find your own partner. Meet new tennis friends and compete.</p>
            </div>
          </div>
    </div>
  </section><!-- End Services Section -->